<!doctype html>
<html data-channel-name="{{ channel_name }}" data-user-name="{{ user }}"
      data-at-work="{{ work }}" data-recipient="{{ to }}"
      data-last-message-timestamp="{{ last_message_timestamp }}"
      data-first-message-timestamp="{{ first_message_timestamp }}"
      data-new-messages-mode="{% if new_messages_mode %}1{% endif %}"
      data-desktop="{{ desktop }}"
      data-version="{{ application_version }}" dir="ltr">
 <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1"/>
  <title>{% if dev_mode %}Dev{% endif %}Blank</title>
  <meta name="viewport"
        content="width=device-width; initial-scale=1.0; maximum-scale=1;
                 minimum-scale=1; user-scalable=0;"/>
  <link href="css/converse.css" rel="stylesheet" type="text/css"/>
 </head>
 <body class="offline-mode{% if new_messages_mode %} new-messages{% endif %}">
  <div class="intro"></div>
  <textarea id="concealed-message"></textarea>
  <div class="fetch-more-messages"><a data-action="fetch-more-messages"
       href="#fetch-more-messages">Show more messages</a></div>
  <div id="presence-data">
   <!--{% if desktop_mode %}<a data-action="exit-application" href="#">X</a>{% endif %}--><a
      href="/sign-out"><img border="0"
      src="images/sign-out.png" width="15" height="15" alt="Sign Out"/></a><a
      data-action="settings" href="#settings"><img data-action="settings"
      src="images/settings.png" width="15" border="0"
      height="15" alt="Settings"/></a><a data-action="clear-conversation"
      href="#"><img data-action="clear-conversation" src="images/clear-conversation.png"
      width="15" border="0" height="15" alt="Clear conversation"/></a>
   <a data-action="re-enable-notifications"
      class="re-enable-notifications"><img
      data-action="re-enable-notifications"
      src="images/notifications-disabled.png" width="15" height="15"
      alt="Re-enable sound/desktop notifications"/></a>
   <div class="connection-state">Connecting...</div>
   <span class="offline"></span>
   {{ to }}
   <span class="location"></span>
  </div>
  <div id="error"></div>
  <div id="new-messages-arrow">&#160;</div>
  <div class="message-pane" id="message-pane">
   <div id="older-message-receptor"></div>
   {% for message in messages %}{{ message|safe }}{% endfor %}
   <div class="receptor" id="message-receptor">
   {% for message in unread_messages %}{{ message|safe }}{% endfor %}
   </div>
   <div class="receptor" id="offline-message-receptor"></div>
   <button id="confirm-read-messages">Confirm read</button>
   {% if status %}<div>({{ status|safe }})</div>{% endif %}
  </div>
  <div id="settings" class="hidden" align="left">
   <form name="settings-form">
    <big><b>Settings</b></big><br/><br/>
    
    <b>When a new message arrives</b><br/>
    <label><input type="checkbox" name="sound-notification"/>
     Play a sound</label><br/>
    <small>Sound Volume -
     <input type="range" name="sound-notification-volume"
            value="0.99" step="0.01" min="0" max="1"/></small>
    <div>
     <label><input type="checkbox" name="visual-notification"/>
      Enable desktop notifications (popups)</label>
    </div>
    <div class="desktop-notifications hidden">
     <label><input type="checkbox" name="desktop-notification"/>
      Enable native desktop notifications</label>
    </div>
    <div>
     <a href="/converse?from={{ user }}&to={{ to }}&test={{ test }}&manage=1">
      Let me delete messages
     </a>
    </div>
    <div>
     <a target="_blank" href="/static-form?from={{ user }}&to={{ to }}">
      Download a static message sending form
     </a>
    </div>
   </form>
  </div>
  <div id="outro" class="outro"></div><form name="messaging-form"
       class="messaging-form" action="/send-message" method="post">
   <input type="hidden" name="test" value="{{ test }}"/>
   <input type="hidden" name="manage" value="{{ manage }}"/>
   <input type="hidden" name="from" value="{{ user }}"/>
   <input type="hidden" name="to" value="{{ to }}"/>
   <div class="message-field-wrapper"><input type="submit"
        value="Post"/><textarea autofocus="autofocus"
        autocomplete="off" name="content"
        placeholder="Enter your message..."></textarea></div>
   <div class="canned-message-post-wrapper"><select
        name="canned-message">
     <option></option>{% for message in canned_messages %}
     <option data-index="{{ forloop.counter }}">{{ message }}</option>{% endfor %}
    </select>
    <div class="notification-toggles"><label><input
         type="checkbox" name="notify"/>Alert</label></div>
   </div>
  </form>
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
  <script type="text/javascript" src="scripts/converse.{% if development %}{% else %}min.{% endif %}js?{{ application_version }}"></script>
 </body>
</html>