<!doctype html>
<html>
 <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1"/>{% if favicon_url %}
  <link rel="favorite icon" href="{{ favicon_url }}"/>{% endif %}
  <title>Login</title>
  <style>
   .desktop H1 { display: none; }
   
   body { background: ThreeDFace; font: normal 13px Arial; text-align: center; color: #303030; }
   form .form-content, form .error-content, form .success-content { display: none; }
   form.success-mode .success-content,
   form.form-mode .form-content,
   form.error-mode .error-content { display: block; }
  </style>
 </head>
 <body>
  <h1>Messenger</h1>
  <form name="login" class="form-mode">
   <div class="error-content">
    There is a problem with the service. Please, try again later.<br/><br/>
    <a id="back" href="#">&lt;&lt; Back</a>
   </div>
   <div class="success-content">
    <b>Loading...</b>
   </div>
   <div class="form-content">
    <div>Welcome!<br/>Please, sign in first.</div>
    <br/><br/>
    <label>Username<br/>
    <input autocomplete="off" type="text" name="from" size="10"/></label><br/><br/>
    <a id="sign-in" href="/">Sign in</a>
   </div>
  </form>
  <script>
   /*jslint sloppy: true, white: true, browser: true*/
   /*global escape, unescape*/
   /*eslint-disable no-extra-parens*/
   var form,
       desktop = "{% if desktop %}desktop=1{% endif %}",
       dev = "{% if dev %}&dev=1{% endif %}";

   function createRequest()
   {
    var /** @type {function(new:XMLHttpRequest)} */
        HTTPRequest = window.XMLHttpRequest,
        /** @type {function(new:XMLHttpRequest, string, string=)} */
        ActiveX;

    if (HTTPRequest)
    {
     return new HTTPRequest();
    }
    ActiveX =
     /** @type {function(new:XMLHttpRequest, string, string=)} */
     (window.ActiveXObject);

    if (ActiveX)
    {
     try
     {
      return new ActiveX("Msxml2.XMLHTTP.6.0");
     }
     catch (e1)
     {
      try
      {
       return new ActiveX("Msxml2.XMLHTTP.3.0");
      }
      catch (e2)
      {
       try
       {
        return new ActiveX("Msxml2.XMLHTTP");
       }
       catch (e3)
       {
        try
        {
         return new ActiveX("Microsoft.XMLHTTP");
        }
        catch (e4)
        {
        }
       }
      }
     }
    }
    alert("You have a weirdly old browser. Sorry, bye.");
    throw new Error("The browser is missing an HTTP request sending method.");
   }

   if (desktop)
   {
    document.documentElement.className += " desktop";
   }
   function handleUserSettings(optionalEvent)
   {
   	var e = optionalEvent, request, data, user, recipient;
   	if (!e)
   	{
     e = window.event;
   	}
   	
   	request = e.target;
   	
   	if (request.readyState !== 4)
   	{
     return;
   	}
   	if (request.status !== 200)
   	{
   	 form.className = "error-mode";
   	 return;
   	}

   	data = ((window.JSON && JSON.parse) || eval)(request.responseText);
    user = data["internal-name"];
    recipient = data["default-recipient"];
   	
    form.className = "success-mode";
	form.from.blur();
	if (window.localStorage)
	{
	 localStorage.user = user;
	}
	else
	{
	 document.cookie = "user=" + escape(user) + "; path=/; max-age=" + 3e7 + ";";
	}
	document.location.href = "{{ converse_url }}?from=" + user + "&to=" + recipient + desktop + dev;
   }
   function login(user)
   {
    var request = createRequest();
    request.open(
     "POST", "/get-user-settings?user=" + encodeURIComponent(user), true);
    request.onreadystatechange = handleUserSettings;
    request.send(null);
    return false;
   }
   function tryAutomaticLogin()
   {
    try
    {
     var cookie, cookies, user, i, cookieCount;
     if (window.localStorage && localStorage.user)
     {
      user = localStorage.user;
     }
     else if (document.cookie.indexOf("user=") !== -1)
     {
      cookies = document.cookie.split(/\s*;\s*/g);
      /*jslint plusplus: true*/
      for (i = 0, cookieCount = cookies.length; i < cookieCount; i++)
      {
      /*jslint plusplus: false*/
       cookie = cookies[i].split("&");
       if (cookie[0] === "user")
       {
        user = unescape(cookie[1]);
        break;
       }
      }
     }
     login(user);
    }
    catch (e)
    {
    }
   }
   
   (function ()
    {
     function initiateLogin()
     {
      setTimeout(
       function ()
       {
        login(form.from.value);
       },
       0);
     }
     form = document.forms[0];
     if (!desktop)
     {
      form.from.focus();
     }
     form.from.onkeypress =
      function (optionalEvent)
      {
       var e = optionalEvent;
       if (!e)
       {
        e = window.event;
       }
       if (e.keyCode === 13)
       {
        initiateLogin();
        return false;
       }
      };
     document.getElementById("back").onclick =
      function submit()
      {
       form.className = "form-mode";
       return false;
      };
     document.getElementById("sign-in").onclick =
      function submit()
      {
       initiateLogin();
       return false;
      };
    }());
    if (desktop)
    {
     window.process =
      function (action)
      {
       if (action === "focus")
       {
        if (form.className === "form-mode")
        {
         form.from.focus();
        }
       }
      };
    }
  </script>
 </body>
</html>